@model  IQueryable<News>
@{
    //IQueryable
    Layout = null;
}
<table class="table table-bordered table-striped datatable ">
    <thead>
        <tr>
            <th>编号</th>
            <th>标题</th>
            <th>类别</th>
            <th>是否显示</th>
            <th>创建时间</th>
 
            <th width="165px">操作</th>
        </tr>
    </thead>
    <tbody>
        @*<tr id="loadingContent" style="display:none;"><td colspan="10" style="text-align:center;"><img src="@fileUrl/Content/neno/assets/images/loading.gif">正在加载数据，请稍候...</td></tr>*@
        @if (Model == null || !Model.Any())
        {
            <tr><td colspan="10" style="text-align:center;">暂无数据！</td></tr>
        }
        else
        {
            foreach (var item in Model)
            {

                <tr>
                    <td>@item.Id</td>
                    <td>@(item.Title)</td>
                    <td>@( EnumUtil.GetDescription(typeof(NewsType), item.Type))</td>
                    <td>@( EnumUtil.GetDescription(typeof(NewsStatus), item.Status))</td>
                    <td>@item.CreateDateTime</td>
                     
                    <td>
                        <a href="javascript:;" onclick="Edit(@item.Id,@item.Type)" class="btn btn-default btn-sm btn-icon icon-left">
                            <i class="fa fa-edit"></i>
                            编辑
                        </a>
                        <a href="javascript:;" onclick="del(@item.Id);" class="btn btn-default btn-sm btn-icon icon-left">
                            <i class="fa fa-close"></i>
                            删除
                        </a>
                    </td>
                </tr>
            }
        }

        <tr>
            <td colspan="10" align="right">
                <div class="dataTables_paginate paging_bootstrap" id="table-1_paginate">
                    @Html.Raw(ViewBag.Pager)
                </div>
            </td>
        </tr>
    </tbody>
</table>