@model AiErLan.Data.Model.IndexView
@{
    ViewBag.Title = "艾尔蓝科技环保有限公司";
    //Layout = null;

}


<div class="rollpic">
    <div data-am-widget="slider" class="am-slider am-slider-default" data-am-slider='{}'>
        <ul class="am-slides">
            <li><img src="~/Content/images/t1.jpg" /></li>
            <li><img src="~/Content/images/t2.jpg" /></li>
        </ul>
    </div>
</div>



<div class=" news-all">
    <div class="am-container-1">
        <div class="news part-all">
            <div class="part-title border_bottom">
                <a href="#" class="part-title_left">
                    <i class="am-icon-newspaper-o part-title-i"></i>
                    <span class="part-title-span">新闻动态</span>

                </a>
                <a href="/News/index" class="part-title_right" target="_blank"><span class="see-more2">查看更多<i class="am-icon-angle-double-right"></i></span></a>

            </div>
            <div class="news-content ">
                <ul class="news-content-ul">
                    @if (Model.News.Any())
                    {
                        foreach (var item in Model.News)
                        {
                            <li class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                <a href="/News/Detail/@item.Id" target="_blank" title="@item.Title">
                                    <div class=" am-u-sm-12 am-u-md-12 am-u-lg-5">
                                        <div class="news-img">
                                            <img src="@(string.IsNullOrWhiteSpace(item.Images)?"/Content/images/none.jpg":item.Images)" />
                                        </div>
                                    </div>
                                    <div class=" am-u-sm-12 am-u-md-12 am-u-lg-7">
                                        <span class="news-right-title">@(AiErLan.Utils.Tool.CutString(item.Title, 0, 30))</span>
                                        <p class="news-right-time">@item.CreateDateTime.ToStringOrNull("yyyy-MM-dd")</p>
                                        <p class="news-right-words">@(AiErLan.Utils.Tool.CutString(item.Intro, 0, 60))</p>

                                    </div>
                                    <div class="clear"></div>
                                </a>
                            </li>
                        }
                    }



                </ul>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
<div class="am-container-1">
    <div class="part-title border_bottom">
        <a href="#" class="part-title_left">
            <i class="am-icon-newspaper-o part-title-i"></i>
            <span class="part-title-span">产品介绍</span>

        </a>
        <a href="/Product/index" target="_blank" class="part-title_right"><span class="see-more2">查看更多<i class="am-icon-angle-double-right"></i></span></a>

    </div>
    <ul data-am-widget="gallery" class="am-gallery am-avg-sm-1
  am-avg-md-3 am-avg-lg-4 am-gallery-bordered customer-case-ul" data-am-gallery="{  }">
        @if (Model.Product.Any())
        {
            foreach (var item in Model.Product)
            {
                <li>
                    <div class="am-gallery-item">
                        <a href="/Product/Detail/@item.Id" class="" target="_blank">
                            <div class="customer-case-img">
                                <img src="@(string.IsNullOrWhiteSpace(item.Images)?"/Content/images/none1.jpg":item.Images)" />
                            </div>
                            <h3 class="am-gallery-title">@item.Title</h3>
                            <div class="am-gallery-desc gallery-words">@(AiErLan.Utils.Tool.CutString(item.Intro, 0, 80))</div>
                        </a>
                    </div>
                </li>
            }
        }


    </ul>

</div>

@if (Model.Customer.Any())
{
    <div class="gray-li">
        <div class="customer-case part-all ">
            <div class="part-title">
                <a href="customer-case.html">
                    <i class=" am-icon-briefcase part-title-i"></i>
                    <span class="part-title-span">客户案例</span>
                 </a>

                <a href="/Customer/index" target="_blank" class="part-title_right"><span class="see-more2">查看更多<i class="am-icon-angle-double-right"></i></span></a>
            </div>


            <ul data-am-widget="gallery" class=" am-avg-sm-1
  am-avg-md-4 am-avg-lg-4 am-gallery-bordered customer-case-content">
                @foreach (var item in Model.Customer)
                {
                    <li class="case-li am-u-sm-6 am-u-md-6 am-u-lg-3">
                        <div class="am-gallery-item case-img1">
                            <a href="/Customer/Detail/@item.Id" class="" target="_blank">
                                <img src="@(string.IsNullOrWhiteSpace(item.Images)?"/Content/images/none1.jpg":item.Images)" />

                            </a>
                        </div>
                        <div class="case-li-mengban">
                            <div class=" case-word">
                                <h3 class="am-gallery-title">@item.Title</h3>
                                <p>@item.CreateDateTime.ToStringOrNull("yyyy-MM-dd")</p>
                                <a href="/Customer/Detail/@item.Id" class="" target="_blank"><span><i class="am-icon-eye"></i>查看详情</span></a>
                            </div>
                        </div>
                    </li>
                }
                </ul>
                @*<div class="lan-bott">
                        <div class="left">
                            <span>全方位解决方案,为您轻松解决不同问题</span>
                            <p>A full range of solutions for you to solve different problems</p>
                        </div>
                        <div class="right">
                            <a href="customer-case.html">
                                <span class="see-more">查看更多<i class="am-icon-angle-double-right"></i></span>
                            </a>
                        </div>
                        <div class="clear"></div>
                    </div>*@
                <div class="part-title">

                </div>
            </div>
        </div>
}



        @*<div class="part-all gray-li">
                <div class="customer  am-container-1">
                    <div class="part-title">
                        <i class="am-icon-users part-title-i"></i>
                        <span class="part-title-span">服务客户</span>
                        <p>Serve Customers</p>
                    </div>

                    <div class="am-slider am-slider-default am-slider-carousel part-all" data-am-flexslider="{itemWidth:150, itemMargin: 5, slideshow: false}" style="  background-color: #f0eeed; box-shadow:none;">
                        <ul class="am-slides">
                            <li><img src="~/Content/img/ptn4.png" /></li>
                            <li><img src="~/Content/img/ptn5.png" /></li>
                            <li><img src="~/Content/img/ptn6.png" /></li>
                            <li><img src="~/Content/img/ptn7.png" /></li>
                            <li><img src="~/Content/img/ptn8.png" /></li>
                            <li><img src="~/Content/img/ptn4.png" /></li>
                            <li><img src="~/Content/img/ptn5.png" /></li>
                            <li><img src="~/Content/img/ptn6.png" /></li>
                            <li><img src="~/Content/img/ptn7.png" /></li>
                            <li><img src="~/Content/img/ptn8.png" /></li>
                        </ul>
                    </div>

                </div>
            </div>*@